<form class="message-panel">
  <button class="message-panel__attach-button" type="button"><img src="/attach.svg" alt="Добавить вложение"/></button>
  <label for="message" class="message-panel__input-label">Сообщение</label>
  <input id="message" name="message" class="message-panel__input" placeholder="Сообщение"/>
  <button class="message-panel__send-button" type="submit"><img src="/send.svg" alt="Отправить"/></button>
</form>
