<aside class="chats-panel">
  <a class="chats-panel__profile-link link" href="../../pages/profile/profile.html">
    Профиль
    <img src="/arrow.svg" alt="Переход в профиль"/>
  </a>
  <div class="chats-panel__search">
    <label for="search" class="chats-panel__search-label">
      <img src="/search.svg" alt="Поиск"/>
    </label>
    <input id="search" class="chats-panel__search-input" name="search_query" type="text" placeholder="Поиск"/>
  </div>
  <ul class="chats-panel__chats">
    {{#each previews}}
    {{> ChatPreview/ChatPreview}}
    {{/each}}
  </ul>
</aside>
